h1 {
  font-size: 32px;
  font-weight: bold;
}
p {
  font-size: 18px;
  line-height: 24px;
}
.container {
  margin: 0 20px;
  background: cyan;
}
@media all and (min-width: 320px) {
  .container {
    margin: 0 20px;
  }
}
@media all and (min-width: 768px) {
  .container {
    margin: 30px 40px 0px 40px;
  }
  h1 {
    font-weight: bold;
    font-size: 28px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media all and (min-width: 1140px) {
  .container {
    margin-top: 190px;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px;
  }
  h1 {
    font-weight: bold;
    font-size: 42px;
  }
  p {
    font-size: 24px;
    line-height: 32px;
  }
}
