.page__header {
  display: flex;
  justify-content: space-evenly;
  background-color: aqua;
  height: 75px;

  @media all and (min-width: 768px) {
    height: 100px;
  }
  @media all and (min-width: 1280) {
    height: 110px;
  }
}
