.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px;
  row-gap: 5px;
  column-gap: 5px;
}

.item1 {
  background-color: palevioletred;
  color: white;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item2 {
  background-color: palevioletred;
  color: white;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item3 {
  background-color: palevioletred;
  color: white;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 4;
}

.item4 {
  background-color: palevioletred;
  color: white;
  text-align: center;
}

.item5 {
  background-color: palevioletred;
  color: white;
  text-align: center;
}

.item6 {
  background-color: palevioletred;
  color: white;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 5;
}
