.navegador {
  height: 100px;

  border: solid 1px black;
}
.item {
  margin-left: 20px;
  margin-right: 20px;
  color: red;
  border: solid 1px black;
}

/* flexbox */

.navegador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
.item {
  display: flex;
}
