h1 {
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: black;
}

body {
    background-color: #f3f4f5;

}
p {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    color: #757575;
}